<header>
    <a href="/">
        <img src="/assets/images/logo.png" alt="{{ site.title }} logo">
        <div>
            <h2>{{ site.title }}</h2>
            <h3>Lorem ipsum dolor sit amet</h3>
        </div>
    </a>
    <div id="nav-button">
        <div id="nav-button-bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
</header>
