---
---
header
    background:
        color: transparent
    h2, nav > ul > li > a
        color: white
    img
        -webkit-filter: brightness(10)
        filter: brightness(10)

nav ul ul a
    color: black

.jumbotron
    height: 550px
    background:
        image: url('/assets/images/bg.jpg')
        size: cover
    padding: 50px
    padding-top: 117px
    color: white
    text-align: right
    h1
        font-size: 120px
        padding-left: 50%
        right: 0

article
    padding-top: 30px

@media (max-width: 1200px)
    .jumbotron h1
        padding-left: 20%
